<div class="one-recipe-detail">
  <div *ngIf="!recipe">Recipe Not Found</div>
  <div *ngIf="recipe">
    <div class="recipe-items title col-12">
      <h1>{{ recipe.title }}</h1>
    </div>

    <div class="row center">
      <div class="recipe-items col-sm-4 col-12 recipe-image">
        <img *ngIf="recipe.url" [src]="recipe.url" alt="recipe-image">
        <div *ngIf="!recipe.url" class="no-img-message">No image</div>
      </div>
      <div class="recipe-items col-sm-8 col-12 ingredients">
        <p class="font-weight-bold item-name">Ingredients</p>
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col" style="width: 40%;">Item</th>
              <th scope="col" style="width: 50%;">Amount</th>
              <th scope="col" style="width: 10%;"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ingredients of recipe.ingredients let i = index;" [id]="'ingredients' + i">
              <td>{{ ingredients.name }}</td>
              <td>{{ ingredients.amount }}</td>
              <td>{{ getIngredientsSymbol(ingredients) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
