<div class="add-new-recipe">
  <h2>Add New Recipe</h2>
  <form class="form-group" [formGroup]="recipeForm" (ngSubmit)="onAddClick()" [ngClass]="{'submitted': submitted}">
    <div class="row recipe-items">
      <label class="font-weight-bold item-name col-sm-2 col-form-label" for="titleInput">Title</label>
      <div class="col-sm-10">
        <input
          class="form-control"
          formControlName="title"
          type="text"
          id="titleInput"
          tooltip="This field is rerquired."
          [display]="getTitleTooltipCondition()" />
      </div>
    </div>

    <div class="row recipe-items description">
      <label class="font-weight-bold item-name col-sm-2 col-form-label" for="descriptionTextArea">Description</label>
      <div class="col-sm-10">
        <textarea class="form-control" formControlName="description" id="descriptionTextArea"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="recipe-items col-sm-4 col-12 upload-image">
        <div class="mb-2">
          <label for="uploadFiles" class="btn btn-outline-secondary btn-sm d-inline">Select a File</label>
          <button *ngIf="tempImgUrl" type="button" class="btn btn-secondary btn-sm float-right" tooltip="Remove" (click)="onRemoveImg()">×</button>
        </div>
        <input type="file" (change)="onFileSelected($event)" id="uploadFiles" accept=".png,.jpg,.jpeg" style="display:none;" />
        <div class="img-area">
          <img *ngIf="tempImgUrl" [src]="tempImgUrl" alt="">
          <div *ngIf="!tempImgUrl" class="no-img-message">No image is selected</div>
        </div>
        <!-- <div class="progress mt-1">
          <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div> -->
      </div>
      <div class="recipe-items col-sm-8 col-12" formArrayName="ingredients">
        <p class="font-weight-bold item-name">Ingredients</p>
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th scope="col" style="width: 10%;"></th>
              <th scope="col" style="width: 30%;">Item</th>
              <th scope="col" style="width: 30%;">Amount</th>
              <th scope="col" style="width: 20%;">Group</th>
              <th scope="col" style="width: 10%;"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ingredientsControl of ingredientsControls; let i = index;" [formGroupName]="i" [id]="'ingredients' + i">
              <td>
                <div class="arrow">
                  <div class="up" (click)="onUpIngredients(i)" [ngClass]="{ 'arrow-disabled': i == 0 }"></div>
                  <div class="down" (click)="onDownIngredients(i)" [ngClass]="{ 'arrow-disabled': i == ingredientsControls.length - 1 }"></div>
                </div>
              </td>
              <td><input class="form-control form-control-sm" formControlName="name" type="text"></td>
              <td><input class="form-control form-control-sm" formControlName="amount" type="text"></td>
              <!-- <td class="star"><input type="checkbox" id="star" formControlName="mark" /><label for="star"></label></td> -->
              <td><select formControlName="additional" class="form-control form-control-sm"><option *ngFor="let o of additionalOptions" [ngValue]="o.value">{{ o.symbol }}</option></select></td>
              <!-- <td><select formControlName="additional"ng-option=""><option *ngFor="let o of additionalOptions" [ngValue]="o.value">{{ o.symbol }}</option></select></td> -->
              <td>
                <button
                  type="button"
                  class="btn btn-secondary btn-sm"
                  (click)="deleteIngredientsRow(i)">×</button>
              </td>
            </tr>
            <tr><td colspan="5"><button type="button" class="btn btn-secondary btn-sm" (click)="onAddIngredientsClick()">+</button></td></tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="recipe-items" formArrayName="steps">
      <p class="font-weight-bold item-name">Steps</p>
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th scope="col" style="width: 10%;"></th>
            <th scope="col" style="width: 10%;"></th>
            <th scope="col" style="width: 70%;">Description</th>
            <th scope="col" style="width: 10%;"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stepsControl of stepsControls; let i = index;" [formGroupName]="i" [id]="'step' + i">
            <td>
              <div class="arrow">
                <div class="up" (click)="onUpStep(i)" [ngClass]="{ 'arrow-disabled': i == 0 }"></div>
                <div class="down" (click)="onDownStep(i)" [ngClass]="{ 'arrow-disabled': i == stepsControls.length - 1 }"></div>
              </div>
            </td>
            <td>{{ i + 1 }}</td>
            <td><input class="form-control form-control-sm" formControlName="description" type="text"></td>
            <td>
              <button
                type="button"
                class="btn btn-secondary btn-sm"
                (click)="deleteStepsRow(i)">×</button>
            </td>
          </tr>
          <tr><td colspan="4"><button type="button" class="btn btn-secondary btn-sm" (click)="onAddStepsClick()">+</button></td></tr>
        </tbody>
      </table>
    </div>

    <div class="row recipe-items category" formGroupName="category">
      <div class="font-weight-bold item-name col-sm-2 col-form-label">Category</div>
      <div class="col-sm-10">
        <div class="btn-group-toggle"
          data-toggle="buttons"
          tooltip="At least one category is required."
          [display]="getCategoryTooltipCondition()">
          <label
            *ngFor="let categoryControl of categoryControls; let i = index;"
            [formGroupName]="i" class="btn btn-outline-secondary"
            [ngClass]="{'active': categoryControl.value.value, 'invalid': category.invalid, 'touched': category.touched}">
            <input type="checkbox" class="btn-check" autocomplete="off" formControlName="value">{{categoryControl.value.name}}
          </label>
        </div>
      </div>
    </div>

    <div class="row recipe-items estimated-time">
      <label for="estimatedTimeInput" class="font-weight-bold item-name col-sm-2 col-form-label">Estimated Time</label>
      <div class="col-sm-10">
        <input class="form-control" formControlName="timeEstimation" type="number" id="estimatedTimeInput">
        <p>minutes</p>
      </div>
    </div>

    <div class="row recipe-items">
      <label class="font-weight-bold item-name col-sm-2 col-form-label" for="commentTextArea">Comment</label>
      <div class="col-sm-10">
        <textarea class="form-control" formControlName="comments" id="commentTextArea"></textarea>
      </div>
    </div>

    <div class="row submit-button">
      <div class="col-sm-12">
        <button class="btn btn-secondary float-right" type="submit" [disabled]="!recipeForm.valid">Add</button>
      </div>
    </div>
  </form>
</div>
