@category-button-hover-color: #afb1b1;

.add-new-recipe {
  h2 {
    text-align: center;
    margin-bottom: 40px;
  }
  .recipe-items, .submit-button div button {
    margin-top: 30px;
    vertical-align: middle;
  }

  p.item-name {
    margin-bottom: 0.5rem;
  }

  .upload-image {
    .img-area {
      border: dotted 2px rgb(66, 66, 66);
      position: relative;
      width: 100%;
      text-align: center;
      img {
        position: absolute;
        top: 50%;
        left: 0;
        max-width: 100%;
        max-height: 100%;
        transform: translate(0, -50%)
      }
      .no-img-message {
        font-size: smaller;
        font-style: italic;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
      }
    }
    .img-area:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }

  .category {
    .btn-group-toggle {
      .btn {
        width: 100px;
      }
      .btn:not(.active):hover {
        color: white;
        border-color: @category-button-hover-color;
        background-color: @category-button-hover-color;
      }
    }
  }

  .table {
    color: rgb(66, 66, 66);
    margin-bottom: 0;
    th {
      font-weight: normal;
    }
    td {
      text-align: center;
      vertical-align: middle;
    }

    .arrow {
      position: relative;
      top: 0;
      left: 20%;
      margin: 0;
      height: 19px;
      width: 19px;
    }
    .up {
      height: 15px;
      width: 8px;
      top: -10px;
      left: 10%;
      position: absolute;
      border: 8px solid transparent;
      border-bottom: 8px solid rgb(66, 66, 66);
    }
    .down {
      height: 15px;
      width: 8px;
      top: 15px;
      left: 10%;
      position: absolute;
      border: 8px solid transparent;
      border-top: 8px solid rgb(66, 66, 66);
    }

    .up:not(.arrow-disabled):hover {
      cursor: pointer;
      transition: all 0.3s;
      border-bottom: 8px solid black;
    }
    .down:not(.arrow-disabled):hover {
      cursor: pointer;
      transition: all 0.3s;
      border-top: 8px solid black;
    }

    .up.arrow-disabled {
      border-bottom: 8px solid rgba(224, 221, 221, 0.8);
    }

    .down.arrow-disabled {
      border-top: 8px solid rgba(224, 221, 221, 0.8);
    }

    .highlight {
      background-color: rgb(212, 247, 171);
    }

  }

  .estimated-time {
    div {
      display: flex;
      align-items: center;
      input {
        width: 100px;
      }
      p {
        margin: auto 10px;
      };
    }
  }

  input.ng-touched.ng-invalid,
  .submitted input.ng-invalid {
    box-shadow: 0 0 0.2rem 0.2rem rgba(235, 76, 76, 0.7)
  }

  .category .btn-group-toggle label.invalid.touched,
  .submitted .category .btn-group-toggle label.invalid {
    box-shadow: 0 0 0.2rem 0.2rem rgba(235, 76, 76, 0.7)
  }

  // /* Show red border when stuff has been typed in, but its invalid */
  // .ng-dirty.ng-invalid {
  //   border-color: red;
  // }
  // /*Show normal border color when typed in for the first time*/
  // .ng-untouched.ng-invalid {
  //     border-color: #ccc;
  // }
  // .ng-submitted input.ng-invalid{
  //     border-color: red;
  // }

}

