@image-width: 230px;

.categories-filter {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 20px;
  justify-items: center;
  align-items: center;

  .one-category {
    width: calc(@image-width + 50px);
    text-align: center;
    padding: 25px 15px;

    .category-button {
      position: relative;
      text-align: center;
      cursor: pointer;
    }
    img, .category-button {
      width: @image-width;
      border-radius: 20%;
    }
    .category-button:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    .category-button:active {
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
    }
    .category-button:focus {
      outline: none;
    }

    .category-text {
      font-size: larger;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      background-color: rgba(255, 255, 255, 0.8);
    }
  }

}

@media (min-width: 600px) {
  .categories-filter { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .categories-filter { grid-template-columns: repeat(3, 1fr); }
}
