<div class="recipes-list">
  <div class="search-engine">
    <input
      type="text"
      class="form-control"
      placeholder="Search from Title"
      id="search-text"
      aria-describedby="search-text"
      [(ngModel)]="searchText"/>
  </div>
  <div *ngFor="let recipe of recipes | recipeTitleFilter: searchText">
    <div class="one-recipe row">
      <div class="left col-sm-8 col-12">
        <p>{{recipe.title}}</p>
        <p>{{recipe.description}}</p>
        <p class="time"><i class="clock"></i><span>{{recipe.timeEstimation}}</span>minutes</p>
      </div>
      <div class="img-area right col-sm-4 col-12">
        <img *ngIf="recipe.url" [src]="recipe.url" alt="recipe-image">
        <div *ngIf="!recipe.url" class="no-img-message">No image</div>
      </div>
    </div>
  </div>
</div>
