<div class="recipes-list">
  <div class="input-group search-engine">
    <input type="text" class="form-control" placeholder="Search for Title" />
    <div class="input-group-btn">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-outline-success">Search</button>
        </div>
    </div>
  </div>
  <div *ngFor="let recipe of recipes">
    <div class="one-recipe">
      <p>{{recipe.title}}</p>
      <p>{{recipe.description}}</p>
      <p>{{recipe.timeEstimation}}</p>
    </div>
  </div>
</div>
